:root {
  --color-brand-1: #ca24b4;
  --color-brand-2: #13b0f5;
  --color-grey-100: #d9d9d9;
  --color-grey-900: #191919;
  --color-grey-800: #363636;
}

body {
  margin: 0;
  background: var(--color-grey-900);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-grey-100);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
